.header {
  display: flex;
  background-color: #f5f7fa;
  justify-content: center;
  padding: 30px;
  align-items: center;
}

.header__logo {
  width: 155px;
  height: 24px;
}

.header__buttons {
  margin: 22px 120px 22px 125px;
  gap: 14px;
}
